@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    font-family: 'Montserrat', sans-serif;
    background:url("8697.jpg");
    background-attachment: fixed;
    height:100vh;
    max-width:100%;
}
section{
    height:88%;
    line-height:5em;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
#hero{
    width:370px;
    height:500px;
    max-width: 100%;
    border-radius:20%;


}
img.ico{
    margin-right:auto;
    margin-left: 5rem;
    width:90px;
    height:90px;
}
ul{
    width:40%;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
li{
    display: inline-block;
}
nav{
    max-width:100%;
    height:12%;
    display: block;
    flex-direction: row;
    justify-content:flex-end ;
    text-decoration: none;
    color: rgb(97, 97, 97);;
    display:flex;
    align-items: center;
}
#hero-name{
    display:block;
}
#mark{
    font-family:Verdana, sans-serif;
    font-size: 1.25em;
}
.head{
    font-size:3.7em;
    color:rgb(97, 97, 97);
    position:relative;
    bottom:5.6rem;
}
.btn{
    text-decoration:none;
    background-color: rgba(245, 245, 245, 0.151);
    font-weight:500;
    color:#798777;
    position:relative;
    bottom:0.8em;
    padding: 1.2rem 1.5rem;
    border:0.13rem solid #798777ad;
    border-radius: 0.5rem;
    transition:all 0.2s;
}
.btn:hover{
    background-color:#E7E6E1;
    
    color:#301B3F;
    border:1px solid #301B3F;
    box-shadow: 0 .8rem .5rem -.5rem #301B3F;
    transform: translateY(-0.4rem) translateZ(0.4rem);

}
#who{
    font-size: 0.7em;
}
@media(max-width:900px){

    header{
        
    }
section{
    flex-direction: column;
    justify-content: normal;
    align-content: unset;
    font-size: 2.9vw;
    margin:0 3%;
}
    #hero{
        width: 300px;
        height:auto;
        position: relative;
    }
    div{
        text-align: center;
    }
    .head{
        bottom:unset;
        width:100%;            
    }
    .btn{
        bottom:unset;
        position:relative;
        top:1rem;
}
nav{
    margin:0 4%;
}
img.ico{
    width: 75px;
    height: 75px;
    margin-left: unset;
}

}
@media(max-width:550px){
    #hero{
        top: 8rem;
    }
    section{
        justify-content: normal;
        
    }
    .btn{
        top:5em;
    }
}
