@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    font-family: 'Montserrat', sans-serif;
    background:url("8697.jpg");
    background-attachment: fixed;
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    line-height:5em;
    align-items:center;
}
#hero{
    width:350px;
    height:450px;
    max-width: 100%;
    border-radius:20%;


}
img.ico{
    margin-right:auto;
}
ul{
    width:40%;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
li{
    display: inline-block;
}
nav{
    display: block;
    flex-direction: row;
    justify-content:flex-end ;
    text-decoration: none;
    color: rgb(97, 97, 97);;
    display:flex;

}
#hero-name{
    display:block;
}
#mark{
    font-family:Verdana, sans-serif;
    font-size: 1.25em;
}
.head{
    font-size:3.7em;
    color:rgb(97, 97, 97);
    position:relative;
    bottom:5.6rem;
}
.btn{
    text-decoration:none;
    background-color: rgba(245, 245, 245, 0.151);
    font-weight:500;
    color:#798777;
    position:relative;
    bottom:2.1em;
    padding: 1.2rem 1.5rem;
    border:0.13rem solid #798777ad;
    border-radius: 0.5rem;
    transition:all 0.2s;
}
.btn:hover{
    background-color:#E7E6E1;
    
    color:#625261;
    border:1px solid #625261;
    box-shadow: 0 .8rem .5rem -.5rem #625261;
    transform: translateY(-0.4rem) translateZ(0.4rem);
    -webkit-tap-highlight-color:transparent;
}
#who{
    font-size: 0.7em;
}
@media(max-width:900px){
header{
    flex-direction: column;
    font-size: 2.3vw;
}
    #hero{
        position: relative;
        bottom:0.01rem;
    }
    div{
        text-align: center;
    }
    .head{
        bottom:unset;
        width:91%;margin:auto;

    }
    .btn{
        bottom:unset;   
        top:3em;
}

}
